@use 'vuetify' with (
  $color-pack: false
);

:root {
  --td-brand-color: #000 !important;
  --td-brand-color-hover: #000 !important;
  --list-item-font-size: 12px;
  --code-box-bg: #aacef3;
}

:root[theme-mode='dark'] {
  --td-brand-color: #fff !important;
  --td-brand-color-hover: #fff !important;
  --code-box-bg: #0d47a1;
}

html {
  font-family: 'Poppins', 'JetBrains Mono', '微软雅黑', '圆体-简' !important;
}

.main_width {
  max-width: 900px !important;
  margin: 0 auto !important;
}

.v-btn--disabled {
  opacity: 0.5 !important;
}

.show-markdown-box {
  padding: 18px 27px;

  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 6px;
  }

  code {
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 3px;
    background-color: var(--code-box-bg) !important;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  li {
    margin: 5px 0px;
    line-height: 28px;

    p {
      margin: 10px 0px 0px 6px;
    }
  }
}

#nprogess-bar {
  background: linear-gradient(to right, red, yellow, blue) !important;
}

.footer-leave-active {
  transition: opacity 0.5s ease;
}

.footer-enter-active {
  transition: opacity 0.2s 0.1s ease;
}

.footer-enter-from,
.footer-leave-to {
  opacity: 0;
}
