@use 'vuetify' with (
  $color-pack: false
);

:root {
  --td-brand-color: #000 !important;
  --td-brand-color-hover: #000 !important;
  --list-item-font-size: 12px;
}

:root[theme-mode='dark'] {
  --td-brand-color: #fff !important;
  --td-brand-color-hover: #fff !important;
}

html {
  font-family: 'JetBrains Mono', '微软雅黑', '圆体-简' !important;
}

#app {
  transition: background-color 2s ease-in-out !important;
}

.main_width {
  max-width: 800px !important;
  margin: 0 auto !important;
}

.v-btn--disabled {
  opacity: 0.5 !important;
}
