fastapi==0.101.0
langchain==0.0.284
mysql-connector-python==8.1.0
pydantic==1.10.8
uvicorn==0.23.2
python-multipart==0.0.6
openai==0.27.7
websockets==11.0.3
pysocks==1.7.1
pymysql==1.1.0
pandas==1.5.3
openpyxl==3.1.2
xlsxwriter==3.1.2
tiktoken==0.4.0
anthropic==0.3.11